@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
	--violet: hsl(257, 40%, 49%);
	--magenta: hsl(300, 69%, 71%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url(./images/bg-desktop.svg) 0 0 / cover var(--violet);
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: 1440px;
	gap: 4rem;
	margin: auto 1rem;
}

header {
	margin-top: 3rem;
}

header img {
	height: 75%;
}

.image {
	grid-row: 2 / 3;
}

.image img {
	display: block;
	width: 100%;
}

main {
	grid-row: 2 / 3;
}

aside {
	grid-row: 3 / 4;
	grid-column: 2 / 3;
}

h1 {
	font-weight: 600;
	font-size: 2.5rem;
	margin-top: 3rem;
}

p {
	line-height: 1.8rem;
	margin: 1.5rem auto;
}

button {
	color: var(--magenta);
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1rem;
	border-radius: 2rem;
	padding: 1rem 4rem;
	border: none;
	box-shadow: 0 0.5rem 1rem 0 hsla(0, 0%, 0%, 0.3);
}

button:active {
	color: #fff;
	background-color: var(--magenta);
}

aside ul {
	float: right;
	list-style-type: none;
}

aside li {
	display: inline-block;
	text-align: center;
	margin-left: 1rem;
}

aside a {
	display: block;
	height: 100%;
	width: 100%;
}

aside i {
	color: #fff;
	display: block;
	width: 2.125rem;
	height: 2.125rem;
	padding: 0.5rem;
	border: 0.0625rem solid #fff;
	border-radius: 50%;
}

aside i:active {
	border: 0.0625rem solid var(--magenta);
	color: var(--magenta);
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (max-width: 1000px) {
	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 700px;
		text-align: center;
	}
}
